
neovim/.config/nvim/load_plugins.vim
neovim/.config/nvim/plugin

emacs/.emacs.d/auto-save-list
emacs/.emacs.d/eln-cache/28.1-7c4f95c7
emacs/.emacs.d/elpa
emacs/.emacs.d/url/cache/noah/https/org/gnu/www
emacs/.emacs.d/recentf
.ccls-cache/@home@noah@.dotfiles
emacs/.emacs.d/eln-cache
neovim/.config/nvim/lua/undodir
neovim/.config/nvim/lua/undodir/%home%noah%.dotfiles%neovim%.config%nvim%init.vim
neovim/.config/nvim/lua/undodir
neovim/.config/nvim/lua/undodir
undodir
